* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #300301;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título {
    color: #C72A2C;
    font-size: 54px;
}

.cabeçalho-lista {
    color: white;
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 120px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;
}
.nossa-escola {
    background-image: linear-gradient(#ab74a9, #d3aec0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.nossa-escola-título {
    font-size: 30px;
    padding: 40px;
}

.nossa-escola-texto1 {
    font-size: 30px;
    padding: 40px;
}

.nossa-escola-texto2 {
    font-size: 35px;
    padding: 30px;
}

.nossa-escola-div {
    width: 40%;
}

.nossa-escola-imagem {
    width: 25%;
}

.equipe {
    background-color: #6c5379db;
    color: white;
}

.professor{
    width: 120px;
}
.ícone {
    width: 24px;
}

.equipe-div {
    text-align: center;
    padding: 16px 0;
}

.equipe-título{
    text-align: center;
}

.equipe-div-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodapé{
    background-color: #300301;
    color: #be635f;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
}

.rodapé-imagem{
    width: 50px;
}

.rodapé-ícone{
    width: 50px;
}